.container-center {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FFFFFF;
}

.login {
  background: #F0F0F0;
  width: 600px;
  align-items: center;
  border-radius: 7%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.login-area {
  display: flex;
  justify-content: center;
  background-color: #DE1414;
  width: 100%;
}

.login-area img {
  padding: 20px;
  width: 170px;
  height: 130px;
}

.logo-img {
  width: 50px;
  height: 10px;
}

form {
  margin-top: 1.5em;
  width: 90%;
  display: flex;
  flex-direction: column;
}

form h1 {
  text-align: center;
  margin-bottom: 0.5em;
  color: #132743;
}

.login input {
  margin-bottom: 15px;
  height: 50px;
  border: 0;
  border-radius: 7px;
  padding: 10px;
  font-size: 15px;
  background-color: #fff;
}

form button {
  height: 35px;
  border: 0;
  border-radius: 7px;
  background-color: #DE1414;
  color: #fff;
  font-size: 1.3em;
  margin-bottom: 1.0em;
}

.login a {
  margin: 1.5em 0;
  color: #000;
  cursor: pointer;
}
